@import url('https://fonts.cdnfonts.com/css/fashionism');
/* font-family: 'Fashionism', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fashionism', sans-serif;
}

/* Header */

.container{
    width: 100%;
}

.triangle {
    position: relative;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    height: 50vh;
}
  
.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 96px 96px 0 96px;
    height: 50vh;
    border-color: #babdbd transparent transparent transparent;
    left: 18%;
    transform: translateX(-50%) translateY(100%);
}

.logoprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logoprincipal img{
    width: 300px; 
}

.agrupador{
    width: 100%;
    position: absolute; 
    bottom: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.lista{
    list-style: none;       
}

.acceso{
    margin: 5px;
    text-decoration: none;  
    color: black;
    font-size: 24px; 
}

.icono{
    width: 30px;
}

/* Footer */

footer{
    width: 100%;
    height: auto;
    position: relative;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ubicacion{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ubicacion h5{
    font-size: 25px; 
    color: black;
    position: absolute; 
    z-index: 0;
    margin-top: 20px;
}

.ubicacion iframe{
    width: 250px;
    height: 200px;
}

/* .ubicacion::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 215px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.452) 0%, rgba(255, 255, 255, 0.678) 100%);  
} */

.datosredes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;  
    margin-left: 30px; 
    z-index: 1;  
}

h4{
    font-size: 25px;
    padding: 10px;
    margin-top: 90px; 
}

.iconos a{
    color: black;
    font-size: 30px;
    padding: 20px;        
}

.informes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.informes a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 9px;
    margin-top: 12px;
    border-radius: 15px; 
    box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.318);
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 96px 96px 0 96px;
    height: 25vh;
    border-color: #babdbd transparent transparent transparent;
    left: 18%;
    transform: translateX(-50%) translateY(0%);
}

.copy{
    width: 100%;
    padding: 5px;
    color: black;    
    text-align: center;
    background-color: #babdbd;
}

/* Main */

.todomain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    width: 450px;
    height: auto;
    margin: 20px 0px 20px 20px;
    padding: 100px 20px 20px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.318);
    text-align: center; 
}

p{
    padding: 20px;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 20px;
}

.imagenes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px;
    margin: 0 auto;
}  

.imagenes img{
    width: 280px;
    height: 250px;
}

/* Otro html */

.infogeneral{
    display: flex;
    flex-wrap: wrap ;
    width: 100%;
    height: auto;
    text-align: center; 
    position: relative; 
    background-color: rgba(175, 113, 172, 0.479);
}

.infogeneral section{
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.318);
    margin: 20px 80px;
    padding: 40px;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
}

.botonvolver{
    position: fixed;
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 50px 50px 10px 50px;
    text-align: center;
    padding: 20px;
    background-color: rgb(175, 113, 172);  
}

.botonvolver a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;  
}

.infogeneral section img{
    width: 100px;
}

.inspiracion{
    width: 100%;
    font-size: 25px;
}

.inspiracion h2{
    margin-bottom: 20px;
}

.video{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px; 
    position: relative;
    flex-wrap: wrap;
}

.video video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

    
.video h2{
    margin-top: 15px;
    font-size: 20px; 
    color: black;
    position: absolute; 
    z-index: 0;
    margin-left: 10px;
    flex-wrap: wrap;

}
